{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }} <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></div>
    {% endif %}
    
    {% comment %} Optional authors list with self highlight {% endcomment %}
    {% if post.authors %}
      <p class="pub-authors">
        {% assign meA = 'Matthew Hull' %}
        {% assign meB = 'Hull, Matthew' %}
        {% if post.authors.first %}
          {%- for a in post.authors -%}
            {% assign t = a | strip %}
            {% if t == meA or t == meB %}<span class="me">{{ t }}</span>{% else %}{{ t }}{% endif %}{% unless forloop.last %}, {% endunless %}
          {%- endfor -%}
        {% else %}
          {%- assign authors_str = post.authors | strip -%}
          {%- assign authors_str = authors_str | replace: 'Matthew Hull', '<span class="me">Matthew Hull</span>' -%}
          {%- assign authors_str = authors_str | replace: 'Hull, Matthew', '<span class="me">Hull, Matthew</span>' -%}
          {{ authors_str }}
        {% endif %}
      </p>
    {% endif %}

    {% if post.collection == 'publications' %}
      <div class="pub-links">
        {% assign pdf_url = post.pdf | default: post.paperurl %}
        {% if post.paper-home %}
          <a href="{{ post.paper-home }}" title="Project/Home"><i class="fa fa-home"></i></a>
        {% endif %}
        {% if pdf_url %}
          <a href="{{ pdf_url }}" title="PDF"><i class="fas fa-file-pdf"></i></a>
        {% endif %}
        {% if post.poster %}
          <a href="{{ post.poster }}" title="Poster"><i class="fas fa-image"></i></a>
        {% endif %}
        {% if post.github %}
          <a href="{{ post.github }}" title="Code"><i class="fab fa-github"></i></a>
        {% endif %}
        {% if post.youtube %}
          <a href="{{ post.youtube }}" title="Video"><i class="fa fa-play"></i></a>
        {% endif %}
        {% if post.vimeo %}
          <a href="{{ post.vimeo }}" title="Video"><i class="fa fa-play"></i></a>
        {% endif %}
        {% if post.bibtex %}
          <a href="{{ base_path }}{{ post.url }}#bibtex" title="BibTeX"><i class="fa fa-quote-right"></i></a>
        {% endif %}
        {% assign venue_text = post['venue-shorthand'] | default: post.venue %}
        {% if venue_text %}<span class="venue-shorthand">{{ venue_text }}</span>{% endif %}
      </div>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}

  </article>
</div>
