<section id="news">
    <div class="container">
        <div class="row news-container">

            {% assign sorted_news = site.data.news | sort: 'date' | reverse %}
            {% for news in sorted_news limit:6 %}

            <div class="news-item col-lg-6 col-sm-12 col-xs-12">

                <div class="news-date">{{ news.date | date: "%Y %b"}}</div>
                <div>{{ news.content }}</div>
            </div>

            {% endfor %}

            
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <a class="news-more" href="{{ '/news/' | relative_url }}">More…</a>
            </div>
        </div>
    </div>
</section>
